@media screen and (min-width: 375px) {
    /* ------navigation------- */
    body {
        font-family:'Kumbh Sans', sans-serif;
        font-weight: 400px;
        margin: 0 5rem;
    }
    
    .header-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .header-grid-container {
        display: grid;
        grid-template-columns: 650px 1fr;
        margin: 2.5rem 0;
    }

    .nav-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .profile-flex {
        display: flex;
        justify-content: center;
    }

    /* -------main--------- */

    
}